$calcMargin: calc(26% - 190px);
$marginBody: 0 clamp(1rem, $calcMargin, 20%);

.slick-prev {
    left      : -10px !important;
    border    : 1px solid #d7d7d7 !important;
    z-index   : 1;
    height    : 48px !important;
    width     : 44px !important;
    background: #fff !important;
    top       : 40% !important;
}

.slick-next {
    border    : 1px solid #d7d7d7 !important;
    right     : -10px !important;
    height    : 48px !important;
    width     : 44px !important;
    background: #fff !important;
    top       : 40% !important;
}

.slick-next::before,
.slick-prev::before {
    font-family   : 'Glyphicons Halflings' !important;
    // content    : "\e258" !important;
    color         : red !important;
}

.slick-next:hover,
.slick-prev:hover {
    background: rgb(233, 216, 216) !important;
}

.section-share {

    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;
    }

    &.section-about {
        height    : 500px !important;
        background: #f5f5f5;
    }

    .section-body {
        .section-customize {
            padding: 0 5px;

            .customize-border {
                padding: 10% 10%;
                border : 1px solid rgb(173, 170, 170);
            }

            .bg-image {
                height             : 150px;
                width              : 278px;
                max-width          : 100%;
                background-position: center center;
                background-repeat  : no-repeat;

                &.section-specialty {
                    background-image: url('../../assets/images/112457-co-xuong-khop.jpg');
                    background-size : cover;
                }

                &.section-medical-facility {
                    background-image: url('../../assets/images/152704logo-bvcr-moi.jpg');
                    background-size : contain;
                }

                &.section-outstanding-doctor {
                    background-image: url('../../assets/images/103848anh-dai-dien-bs.jpg');
                    width           : 120px;
                    height          : 120px;
                    margin          : 0 auto;
                    border-radius   : 50%;
                }

                &.section-handbook {
                    background-image: url('../../assets/images/163557-dat-lich-cham-soc-wecare247.png');
                    background-size : cover;
                    background-color: white;

                }
            }


            span {
                display: inline-block;
                padding: 5px 0;
            }
        }
    }
}

.section-share {
    font-family: system-ui;

    .section-container {
        margin        : $marginBody;
        display       : flex;
        flex-direction: column;
        padding-bottom: 30px;

        .section-header {
            margin         : 20px 0;
            height         : 60px;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            span {
                font-weight: 600;
                font-size  : calc(18px + 0.5vw);
                ;
            }

            .btn-section {
                text-transform  : uppercase;
                font-size       : 12px;
                padding         : 10px 15px;
                background-color: #ebebeb;

                &:hover {
                    background-color: #f7d800;
                    color           : white;
                }
            }
        }
    }
}



.section-about {
    padding: $marginBody;

    .section-about-header {
        padding    : 20px 10px;
        font-size  : 22px;
        font-weight: 600;
    }

    .section-about-content {
        display  : flex;
        flex-wrap: wrap;

        .content-left {
            width        : 60%;
            padding-right: 10px;

            // max-width: 100%;
            iframe {
                width : 100%;
                height: 400px;
            }
        }

        .content-right {
            width       : 40%;
            padding-left: 10px;
        }
    }
}

.home-footer {
    text-align      : center;
    padding-top     : 8px;
    background-color: #64b9e5;
    margin          : 0;
    height          : 50px;

    a {
        text-decoration: unset;
    }
}

.scroll-to-top {
    position   : fixed;
    right      : 1rem;
    bottom     : 1rem;
    display    : none;
    width      : 2.75rem;
    height     : 2.75rem;
    text-align : center;
    color      : #fff;
    background : rgba(90, 92, 105, 0.5);
    line-height: 46px;
    cursor     : pointer;
}