.home-header-container {
    height     : 65px;
    width      : 100%;
    padding    : 0 40px;
    font-family: system-ui;
    position   : sticky;
    z-index    : 10;
    top        : 0;
    background : white;

    .home-header-content {
        width  : 100%;
        height : 100%;
        display: flex;
        padding: 0 20px;

        .left-content {
            width      : 25%;
            display    : flex;
            gap        : 5px;
            align-items: center;

            i.fas.fa-bars {
                font-size: 25px;
                color    : gray;
                cursor   : pointer;
            }

            .header-logo {
                background: url('../../assets/images/bookingcare-2020.svg') center center no-repeat;
                height    : 40px;
                width     : 160px;
                min-width : 110px;
                cursor    : pointer;
            }
        }

        .center-content {
            width          : 50%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            gap            : 20px;

            .child-content {
                .subs-title {
                    font-weight: 400;
                    font-size  : 12px;
                }
            }
        }

        .right-content {
            width          : 25%;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;
            gap            : 10%;

            .support {
                display    : flex;
                align-items: center;
                cursor     : pointer;

                i {
                    margin-right: 5px;
                }
            }

            .language {
                display    : flex;
                align-items: center;

                /* justify-content: center; */
                .language-vi {
                    cursor : pointer;
                    opacity: 0.2;

                    &.active {
                        opacity: 1;
                        color  : #cb9c10;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .language-en {
                    margin : 0 10px;
                    cursor : pointer;
                    opacity: 0.2;

                    &.active {
                        opacity: 1;
                        color  : #3e0a6a;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.home-header-banner {
    background     : url('../../assets/images/bookingcare-cover-4.jpg') center center no-repeat;
    background-size: cover;
    display        : flex;
    flex-direction : column;
    font-family    : system-ui;

    .content-up {
        padding         : 15px 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        height          : 450px;

        .title1 {
            text-align    : center;
            color         : white;
            font-size     : calc(15px + 1vw);
            text-shadow   : 1px 1px 1px #333;
            margin-top    : 30px;
            text-transform: uppercase;
        }

        .title2 {
            text-align    : center;
            color         : white;
            font-size     : calc(17px + 1vw);
            text-shadow   : 1px 1px 1px #333;
            font-weight   : 600;
            text-transform: uppercase;
        }

        .search {
            margin         : 0 auto;
            width          : fit-content;
            max-width      : 90%;
            padding        : 10px;
            display        : flex;
            align-items    : center;
            justify-content: center;
            border-radius  : 30px;
            background     : #f7d800;
            margin-top     : 15px;

            i.fas.fa-search {
                padding     : 0 5px;
                margin-right: 7px;
            }

            input {
                height    : 30px;
                width     : 350px;
                background: transparent;
                border    : none;
                outline   : none;
            }
        }
    }

    .content-down {
        height         : 200px;
        background     : linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), white);
        display        : flex;
        justify-content: center;
        align-items    : flex-end;
        padding-bottom : 10px;

        .option {
            display        : flex;
            align-items    : center;
            justify-content: center;

            ul {
                display        : flex;
                text-align     : center;
                padding        : 0;
                flex-wrap      : wrap;
                justify-content: center;

                li {
                    list-style: none;
                    width     : 200px;
                    max-width : 32%;

                    .option-icon {
                        padding      : 10px;
                        background   : #fff;
                        border-radius: 50%;
                        width        : 50px;
                        height       : 50px;
                        margin       : 0 auto;
                        box-shadow   : 0px 1px 2px rgba(0, 0, 0, .5);
                        font-size    : 30px;
                        color        : #2ea6bb;
                        display      : grid;
                    }

                    .option-child {
                        font-size  : 15px;
                        font-weight: 500;
                        cursor     : pointer;
                        padding    : 5px;

                        &:hover {
                            color: #2ea6bb;
                        }
                    }
                }
            }
        }
    }


}