$calcMargin: calc(26% - 190px);
$marginBody: 0 clamp(1rem, $calcMargin, 20%);


.doctor-detail-container {


    .intro-doctor {
        padding          : $marginBody;
        // display       : flex;
        padding-top      : 15px;
        padding-bottom   : 15px;

        .content-left {
            display       : table-cell;
            vertical-align: top;

            .img {
                background     : top center no-repeat;
                background-size: cover;
                width          : 120px;
                height         : 120px;
                border-radius  : 50%;
            }
        }

        .content-right {
            display                : table-cell;
            vertical-align         : top;
            // width         : 80%;
            // display             : flex;
            // flex-direction   : column;
            padding-left           : 20px;

            .up {
                font-size  : 20px;
                font-weight: 600;
            }

            .down {
                margin-top: 10px;
            }
        }
    }

    .detail-infor-doctor {
        padding         : $marginBody;
        padding-top     : 15px;
        width           : 100%;
        background-color: #f9f9f9;
        border-top      : 1px solid rgb(214, 214, 214);
        border-bottom   : 1px solid rgb(214, 214, 214);
        padding-bottom  : 15px;

        img {
            margin-top: 10px;
            width     : 100%;
        }
    }

    .comment-doctor {
        height: 50px;
    }
}