.doctor-schedule-container {
    height: 100%;

    .all-schedule {
        select {
            background   : transparent;
            border       : none;
            color        : #337ab7;
            border-bottom: 1px solid #999;
            border-radius: 0;
            font-weight  : bold;
            padding      : 3px;
            outline      : none;
            cursor       : pointer;
        }
    }

    .all-available-time {
        .text-calendar {
            color : #333;
            margin: 10px 0 10px 0;

            i {
                margin-right: 5px;
            }

            span {
                text-transform: uppercase;
                font-weight   : bold;
            }
        }

        .time-content {
            display  : flex;
            gap      : 8px;
            flex-wrap: wrap;

            button {
                cursor          : pointer;
                padding         : 8px 10px;
                background-color: #fff8ae;
                width           : 155px;
                border          : none;
                font-weight     : bolder;

                &:hover {
                    box-shadow: inset 0 0 0 2px #33B0E3;
                }
            }
        }
    }
}