.manage-doctor-container {
    padding: 15px;

    .manage-doctor-title {
        margin-bottom: 15px;
    }

    .save-content-doctor {
        margin          : 20px 0 20px 0;
        outline         : none;
        border          : none;
        padding         : 5px;
        background-color: orange;
        border-radius   : 6px;
        cursor          : pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .create-content-doctor {
        margin          : 20px 0 20px 0;
        outline         : none;
        border          : none;
        padding         : 5px;
        background-color: rgb(79, 60, 227);
        border-radius   : 6px;
        cursor          : pointer;
        color           : white;

        &:hover {
            opacity: 0.9;
        }
    }

    .more-infor {
        display      : flex;
        gap          : 10px;
        margin-bottom: 20px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }

    .more-infor-extra.row {
        row-gap      : 15px;
        margin-bottom: 30px;
    }

}