.user-redux-container {

    button {
        border   : none;
        outline  : none;
        margin   : 5px;
        font-size: 18px;
    }

    .preview-img-container {
        .label-upload {
            background   : gainsboro;
            padding      : 5px;
            border-radius: 0.25rem;
            cursor       : pointer;
        }

        &:hover {
            opacity: 0.9;
        }

        .preview-image {
            width        : 100%;
            cursor       : pointer;
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
            color        : blue;
            font-style   : italic;
        }
    }
}